<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container col-8">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Login</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}">

            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.login}"></td>
            <td>
                <form action="/userDetails" method="post" th:object="${user}">
                    <input type="hidden" name="name" th:value="${user.name}"/>
                    <input type="hidden" name="surname" th:value="${user.surname}"/>
                    <button type="submit" class="btn btn-dark">Details</button>

                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>